<x
  var self = this;
  var isGlobalPage;

  docs.forEach(function(doc, i) {
?>

<x
  // we only need to check this once
  if (typeof isGlobalPage === 'undefined') {
    isGlobalPage = (doc.kind === 'globalobj');
  }
?>
<x if (doc.kind === 'mainpage' || (doc.kind === 'package')) { ?>
  <x= self.partial('mainpage.tmpl', doc) ?>
<x } else if (doc.kind === 'source') { ?>
  <x= self.partial('source.tmpl', doc) ?>
<x } else { ?>

<section>

<header>
  <x if ((!doc.longname || doc.kind !== 'module') && !doc.component) { ?>
    <h2><x if (doc.attribs) { ?><span class="attribs"><x= doc.attribs ?></span><x }
      if (doc.ancestors && doc.ancestors.length) { ?>
      <span class="ancestors"><x= doc.ancestors.join('') ?></span><x
     }
    ?><x= doc.name ?><x
     if (doc.variation) { ?>
      <sup class="variation"><x= doc.variation ?></sup><x } ?>
     <!-- <x if (doc.signature && !doc.hideconstructor) { ?><x= doc.signature ?><x } ?> -->
     </h2>
    <x if (doc.classdesc) { ?>
      <div class="class-description"><x= doc.classdesc ?></div>
    <x } ?>
  <x } else if (doc.kind === 'module' && doc.modules) { ?>
    <x doc.modules.forEach(function(module) { ?>
      <x if (module.classdesc) { ?>
        <div class="class-description"><x= module.classdesc ?></div>
      <x } ?>
    <x }) ?>
  <x } else if (doc.component) { ?>
    <h2>
      <x= '&lt' + doc.name + ' ' + doc.component.props.map(p => '<i>' + p.name + '</i>').join(' ') + ' /&gt' ?>
    </h2>
    <x if (doc.classdesc) { ?>
      <div class="class-description"><x= doc.classdesc ?></div>
    <x } ?>
  <x } ?>
</header>

<article>
  <div class="container-overview">
  <x if (doc.kind === 'module' && doc.modules) { ?>
    <x if (doc.description) { ?>
      <div class="description"><x= doc.description ?></div>
    <x } ?>

    <x doc.modules.forEach(function(module) { ?>
      <x= self.partial('method.tmpl', module) ?>
    <x }) ?>
  <x } else if (doc.kind === 'class' || (doc.kind === 'namespace' && doc.signature)) { ?>
    <x if (doc.kind === 'class' && !doc.hideconstructor) { ?>
      <div class='vertical-section'>
        <div class="members">
          <div class="member">
            <div class=name>
              <span class="tag">Constructor</span>
            </div>
            <x= self.partial('method.tmpl', doc) ?>
          </div>
        </div>
      </div>
    <x } else { ?>
      <x= self.partial('method.tmpl', doc) ?>
    <x } ?>
  <x } else { ?>
    <x if (doc.description) { ?>
      <div class="description"><x= doc.description ?></div>
    <x } ?>

    <x= self.partial('details.tmpl', doc) ?>

    <x if (doc.examples && doc.examples.length) { ?>
      <h3>Example<x= doc.examples.length > 1? 's':'' ?></h3>
      <x= self.partial('examples.tmpl', doc) ?>
    <x } ?>
  <x } ?>
  </div>
  <x if (doc.component) { ?>
    <x if (doc.component.slots && doc.component.slots.length) { ?>
      <div class='vertical-section'>
        <h1>Slots</h1>
        <div class="members">
        <x doc.component.slots.forEach(function(slot) { ?>
          <div class="member">
            <h4 class="name" id="slot-<x= slot.name ?>">
              <x= self.partial('name-link.tmpl', {id: ['slot', slot.name].join('-')}) ?>
              <span class="code-name"><x= slot.name ?></span>
            </h4>
            <div class="description">
              <p><x= slot.description ?></p>
            </div>
          </div>
        <x }); ?>
        </div>
      </div>
    <x }; ?>
  <x }; ?>
  <x if (doc.augments && doc.augments.length) { ?>
    <h3 class="subsection-title">Extends</h3>

    <x= self.partial('augments.tmpl', doc) ?>
  <x } ?>

  <x if (doc.requires && doc.requires.length) { ?>
    <h3 class="subsection-title">Requires</h3>

    <ul><x doc.requires.forEach(function(r) { ?>
      <li><x= self.linkto(r, r) ?></li>
    <x }); ?></ul>
  <x } ?>

  <x
    var classes = self.find({kind: 'class', memberof: doc.longname});
    if (!isGlobalPage && classes && classes.length) {
  ?>
    <h3 class="subsection-title">Classes</h3>

    <dl><x classes.forEach(function(c) { ?>
      <dt><x= self.linkto(c.longname, c.name) ?></dt>
      <dd><x if (c.summary) { ?><x= c.summary ?><x } ?></dd>
    <x }); ?></dl>
  <x } ?>

  <x
    var interfaces = self.find({kind: 'interface', memberof: doc.longname});
    if (!isGlobalPage && interfaces && interfaces.length) {
  ?>
    <h3 class="subsection-title">Interfaces</h3>

    <dl><x interfaces.forEach(function(i) { ?>
      <dt><x= self.linkto(i.longname, i.name) ?></dt>
      <dd><x if (i.summary) { ?><x= i.summary ?><x } ?></dd>
    <x }); ?></dl>
  <x } ?>

  <x
    var mixins = self.find({kind: 'mixin', memberof: doc.longname});
    if (!isGlobalPage && mixins && mixins.length) {
  ?>
    <h3 class="subsection-title">Mixins</h3>

    <dl><x mixins.forEach(function(m) { ?>
      <dt><x= self.linkto(m.longname, m.name) ?></dt>
      <dd><x if (m.summary) { ?><x= m.summary ?><x } ?></dd>
    <x }); ?></dl>
  <x } ?>

  <x
    var namespaces = self.find({kind: 'namespace', memberof: doc.longname});
    if (!isGlobalPage && namespaces && namespaces.length) {
  ?>
    <h3 class="subsection-title">Namespaces</h3>

    <dl><x namespaces.forEach(function(n) { ?>
      <dt><x= self.linkto(n.longname, n.name) ?></dt>
      <dd><x if (n.summary) { ?><x= n.summary ?><x } ?></dd>
    <x }); ?></dl>
  <x } ?>

  <x
    var hocs = self.find({kind: 'hoc', memberof: isGlobalPage ? {isUndefined: true} : doc.longname});
    if (hocs && hocs.length && hocs.forEach) {
      hocs = hocs.filter(function(m) { return m.access !== 'private'; });
  ?>
    <div class='vertical-section'>
      <h1>HOCs</h1>
      <div class="members">
      <x hocs.forEach(function(m) { ?>
        <div class="member"><x= self.partial('method.tmpl', m) ?></div>
      <x }); ?>
      </div>
    </div>
  <x } ?>

  <x
    var components = self.find({kind: 'component', memberof: isGlobalPage ? {isUndefined: true} : doc.longname});
    if (components && components.length && components.forEach) {
      components = components.filter(function(m) { return m.access !== 'private'; });
  ?>
    <div class='vertical-section'>
      <h1>Components</h1>
      <div class="members">
      <x components.forEach(function(m) { ?>
        <div class="member"><x= self.partial('method.tmpl', m) ?></div>
      <x }); ?>
      </div>
    </div>
  <x } ?>

  <x
    var hooks = self.find({kind: 'hook', memberof: isGlobalPage ? {isUndefined: true} : doc.longname});
    if (hooks && hooks.length && hooks.forEach) {
      hooks = hooks.filter(function(m) { return m.access !== 'private'; });
  ?>
    <div class='vertical-section'>
      <h1>Hooks</h1>
      <div class="members">
      <x hooks.forEach(function(m) { ?>
        <div class="member"><x= self.partial('method.tmpl', m) ?></div>
      <x }); ?>
      </div>
    </div>
  <x } ?>

  <x
    var members = self.find({kind: 'member', memberof: isGlobalPage ? {isUndefined: true} : doc.longname});

     /* symbols that are assigned to module.exports are not globals, even though theyy are  not a memberof anything */
    if (isGlobalPage && members && members.length && members.forEach) {
      members = members.filter(function(m) {
        return m.longname
          && m.longname.indexOf('module:') !== 0
          && m.access !== 'private';
      });
    }
    if (members && members.length && members.forEach) {
  ?>
    <div class='vertical-section'>
      <h1>Members</h1>
      <div class="members">
      <x members.forEach(function(p) { ?>
        <div class="member"><x= self.partial('member.tmpl', p) ?></div>
      <x }); ?>
      </div>
    </div>
  <x } ?>

  <x
    var methods = self.find({kind: 'function', memberof: isGlobalPage ? {isUndefined: true} : doc.longname});
    if (methods && methods.length && methods.forEach) {
      methods = methods.filter(function(m) {
        return m.access !== 'private';
      });
  ?>
    <div class='vertical-section'>
      <h1>Methods</h1>
      <div class="members">
      <x methods.forEach(function(m) { ?>
        <div class="member"><x= self.partial('method.tmpl', m) ?></div>
      <x }); ?>
      </div>
    </div>
  <x } ?>

  <x
    var typedefs = self.find({kind: 'typedef', memberof: isGlobalPage ? {isUndefined: true} : doc.longname});
    if (typedefs && typedefs.length && typedefs.forEach) {
  ?>
    <div class='vertical-section'>
      <h1>Type Definitions</h1>
      <div class="members">
      <x typedefs.forEach(function(e) {
        if (e.signature) {
      ?>
        <div class="member"><x= self.partial('method.tmpl', e) ?></div>
      <x
        }
        else {
      ?>
        <div class="member"><x= self.partial('member.tmpl', e) ?></div>
      <x
        }
      }); ?>
      </div>
    </div>
  <x } ?>

  <x
    var events = self.find({kind: 'event', memberof: isGlobalPage ? {isUndefined: true} : doc.longname});
    if (events && events.length && events.forEach) {
  ?>
    <div class='vertical-section'>
      <h1>Events</h1>
      <div class="members">
      <x events.forEach(function(e) { ?>
        <div class="member">
          <x= self.partial('method.tmpl', e) ?>
        </div>
      <x }); ?>
      </div>
    </div>
  <x } ?>
</article>

</section>
<x } ?>

<x }); ?>
