<x var data = obj; var self = this; ?>
<x if (data.type && data.type.names) {?><x= self.partial('name-tags.tmpl', data.type.names) ?><x } ?>
<div class="name" id="<x= id ?>" data-isnative="<x= data.isNative ?>">
  <x if (data.rawAttribs && data.rawAttribs.length) {?>
    <x data.rawAttribs.forEach(function(attrib) { ?>
      <span class='tag'><x= attrib ?></span>
    <x }); ?>
  <x } ?>
  <span class="code-name"><x= name ?></span>
  <x if (data.optional) { ?><span class='tag'>Optional</span><x }; ?>
    <div class='name-link-wpr'>
      <x= self.partial('name-link.tmpl', {id: id}) ?>
    </div>
</div>

<x if (data.summary) { ?>
<p class="summary"><x= summary ?></p>
<x } ?>

<x if (data.description) { ?>
<div class="description">
  <x= data.description ?>
</div>
<x } ?>

<x= this.partial('details.tmpl', data) ?>

<x if (data.fires && fires.length) { ?>
  <div class="method-parameter columns">
    <div class="column is-2"><label>Fires:</label></div>
    <div class="column is-10">
      <ul><x fires.forEach(function(f) { ?>
        <li><x= self.linkto(f) ?></li>
      <x }); ?></ul>
    </div>
  </div>
<x } ?>

<x if (data.examples && examples.length) { ?>
  <h5>Example<x= examples.length > 1? 's':'' ?></h5>
  <x= this.partial('examples.tmpl', data) ?>
<x } ?>
