.bd__button {
  padding: 10px 0;
  text-align: right;
}

.bd__button > a {
  font-weight: 100;
  text-decoration: none;
  color: rgb(189,195,203);
  font-family: sans-serif;
}

.bd__button > a:hover {
  color: rgb(120,135,150);
}
